Chatbot Workflow.json
{
  "name": "Chatbot Workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -16
      ],
      "id": "f33c81f2-3008-4667-9bd9-1e44d3f592f4",
      "name": "Telegram Trigger",
      "webhookId": "eb464c6e-ce62-45e8-a05c-afa8d9e81557",
      "credentials": {
        "telegramApi": {
          "id": "bjrWNT1NRSQxjrvJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "User",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        -16
      ],
      "id": "a42a0242-5a7a-4747-babe-70b6b49442e2",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8wglIVyqNs4mVLIE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Create User').item.json.group == 'Test' \n  ? `Welcome! Let's get started.\nWhat are you looking for today?` \n  : `Welcome to our bot!\nHow can I help you today?` \n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -128
      ],
      "id": "a96eda63-5492-45c3-8220-faf36f4d8880",
      "name": "Send a text message",
      "webhookId": "8381dae8-1ebc-477b-85b6-67dd4acca63c",
      "credentials": {
        "telegramApi": {
          "id": "bjrWNT1NRSQxjrvJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "17064563-b1d7-40be-9708-a962c6a79110",
                    "leftValue": "={{  $json.user_id  }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "79a13a77-7df2-4ce2-aaad-bc899dda3369",
                    "leftValue": "={{  $json.group  }}",
                    "rightValue": "Test",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c89e6561-78e5-4172-a562-a37a16c6b6da",
                    "leftValue": "={{  $json.group  }}",
                    "rightValue": "Control",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        288,
        -32
      ],
      "id": "1e1cbfb2-e928-4bd8-a7f3-2d9cd66b9c98",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Welcome to our bot 👋",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        176
      ],
      "id": "645c062c-cbbf-451c-b86c-eda0d9daf0b9",
      "name": "Send a text message1",
      "webhookId": "8381dae8-1ebc-477b-85b6-67dd4acca63c",
      "credentials": {
        "telegramApi": {
          "id": "bjrWNT1NRSQxjrvJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=\"{{ \n  ({\n    'new_user': `Welcome to our bot 👋\n\nLet's get started.\n\nWhat are you interested in?\n1️⃣ Products\n2️⃣ Services`,\n    'onboarding_user': `Nice!\n\nWhich category do you prefer?\n\n1️⃣ Tech\n2️⃣ Travel\n3️⃣ Finance`,\n    'onboarding_step_2': `Awesome 🚀\n\nYou're all set.\n\nYou can now start using the bot!`\n  })[$('Latest Event of User').item.json.event_name] || 'Contact our person' \n}}\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        16
      ],
      "id": "6b035a87-3745-4afb-8129-c2b6855cf6aa",
      "name": "Send a text message2",
      "webhookId": "8381dae8-1ebc-477b-85b6-67dd4acca63c",
      "credentials": {
        "telegramApi": {
          "id": "bjrWNT1NRSQxjrvJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "User",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.evaluated_keys.userID }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.username }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            },
            {
              "fieldId": "group",
              "fieldValue": "={{ $json.dynamic_configs['JMkQYpfOnz8RlZkqyf6r2inoMVTlPZia01yUDYUJEHY='].group_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        -128
      ],
      "id": "e8cebaad-9f3e-4286-8f8a-d663d85644a8",
      "name": "Create User",
      "credentials": {
        "supabaseApi": {
          "id": "8wglIVyqNs4mVLIE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "=\"{{ $('Create User').item.json.user_id }}\""
            },
            {
              "fieldId": "event_name",
              "fieldValue": "new_user"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        -128
      ],
      "id": "4eddda2c-57cf-42df-ba21-98e949d273cb",
      "name": "Create Event",
      "credentials": {
        "supabaseApi": {
          "id": "8wglIVyqNs4mVLIE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.statsig.com/v1/initialize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "statsig-api-key",
              "value": "secret-o2ikovDazMuqEKNjpZdCaRhWLh8U2boH0EBblUF1kpk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user\": {\n    \"userID\": \"{{ $('Telegram Trigger').item.json.message.from.id }}\"\n  },\n  \"experiments\": [\"telegram_onboarding_test\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        -128
      ],
      "id": "26f8fb88-478b-49dc-9bd8-2ebc7fd88728",
      "name": "Initialize Group"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://statsigapi.net/v1/log_event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "statsig-api-key",
              "value": "secret-o2ikovDazMuqEKNjpZdCaRhWLh8U2boH0EBblUF1kpk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"events\": [\n    {\n      \"eventName\": \"new_user\",\n      \"user\": {\n        \"userID\": \"{{ $json.user_id }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -128
      ],
      "id": "1287a62b-a5c5-426b-a51b-2ff5cf382e19",
      "name": "Log Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://statsigapi.net/v1/log_event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "statsig-api-key",
              "value": "secret-o2ikovDazMuqEKNjpZdCaRhWLh8U2boH0EBblUF1kpk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"events\": [\n    {\n      \"eventName\": \"{{ \n  ({\n    'new_user': 'onboarding_user',\n    'onboarding_user': 'onboarding_step_2',\n    'onboarding_step_2': 'onboarding_completed'\n  })[$json.event_name] || 'unknown event' \n}}\",\n      \"user\": {\n        \"userID\": \"{{ $('Telegram Trigger').item.json.message.from.id }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        16
      ],
      "id": "37ecc157-1ef3-486d-8758-58f67349a9a9",
      "name": "Log Event 1 "
    },
    {
      "parameters": {
        "tableId": "Events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "=\"{{ $('Get a row').item.json.user_id }}\""
            },
            {
              "fieldId": "=event_name",
              "fieldValue": "={{ \n  ({\n    'new_user': 'onboarding_user',\n    'onboarding_user': 'onboarding_step_2',\n    'onboarding_step_2': 'onboarding_completed'\n  })[$('Latest Event of User').item.json.event_name] || 'unknown event' \n}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        16
      ],
      "id": "1b29e35c-c086-478c-857d-88b99139b122",
      "name": "Create Event 1",
      "credentials": {
        "supabaseApi": {
          "id": "8wglIVyqNs4mVLIE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://cejvxsshwvpzakrjxdak.supabase.co/rest/v1/Events?select=*&order=created_at.desc&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        16
      ],
      "id": "34e30241-6c73-4b42-bd5b-8a7dd73c7fb8",
      "name": "Latest Event of User",
      "credentials": {
        "supabaseApi": {
          "id": "8wglIVyqNs4mVLIE",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Initialize Group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Latest Event of User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Group": {
      "main": [
        [
          {
            "node": "Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Event": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Event 1 ": {
      "main": [
        [
          {
            "node": "Create Event 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event 1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Latest Event of User": {
      "main": [
        [
          {
            "node": "Log Event 1 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1ef8e912-0770-41af-90fb-c1038ad80459",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "736dfd70adeecb3072bfe850a1352976ce96e3564c002fa02f9b0a525fb7e14a"
  },
  "id": "B4BYhckP715o6jf3",
  "tags": []
}